a { /* wrong, tv stations 
    margin-top:4px;
    margin-right: 12px;*/
}
 
u { /* for the highlighting of episoder */
    /*position: relative;
    padding-left:24px;*/
    font-weight:bold;
    color:#ff6666;
} 

.center {
	text-align:center; 
	}
.one6 { 
	font-size:0.9em; font-style:bold;}

.zero9 { 
	font-size:0.9em; font-style:bold;}

.zero8 { 
	font-size:0.8em; font-style:bold;}
