body { 
	font-size:100.1%;
    /*font-size:1.7em;
    background: #bfd255;*/ 
    background: #70c7ef; 
}
button { 
    font-size:1.2em;
    background: orange; 
}
p { 
    font-size:1.2em;
}
pre { 
    font-size:1em;
}

.center {
	text-align:center;
}
 



